header {
  padding: 3rem 0;
  margin: 4rem 4rem;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
}

.heading-subtext-container {
  margin: 2rem 0;
  width: 50%;
}

.heading-subtext {
  line-height: 1.6rem;
  font-weight: 100;
}

.heading-img-container {
  background-color: rgba(6, 123, 123, 0.18);
  border-radius: 25px;
}

.heading-img {
  width: 450px;
  height: 450px;
}

.heading-tags {
  margin-top: 3rem;
  padding-left: 1.25rem;
}

.mushroom {
  margin-right: 0.7rem;
  padding: 0.5rem;
  background-color: brown;
  border-radius: 0.9rem;
}
