.mushroom-container {
  margin: 1rem 4rem;
  max-width: 75rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.mushroom-card {
  background-color: lightpink;
  height: 22rem;
  border-radius: 1rem;
}
